<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gianluca_gdc.tabsplitter.android">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:theme="@style/Theme.Tabsplitter"
        android:icon="@mipmap/ic_launcher"
        android:label="Tabsplitter">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>